<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="app">
<!--点击按钮懒加载，意思是当光标移开输入框时，才会显示输入的值 修饰符：lazy number trim-->
    <input type="text" v-model.lazy.number="clas">
    <input type="text" readonly="clas" v-model="clas">

<!--点击按钮每次减2 sub()括号内可以传入参数 $符号加event 可以在页面控制台显示原生的DOM属性 即value的值-->
    <div>
        {{count}}
        <button @click="sub(2,$event)" value="lujie">按钮键</button>
    </div>

<!--单选按钮绑定属性-->
    <div>
        <input type="radio" value="男" v-model="gender">
    <label>男</label>

    <input type="radio" value="女" v-model="gender">
    <label>女</label>

    选择：<input type="text" readonly="gender" v-model="gender">
    </div>


<!--单个复选框 绑定bool值-->
    <div>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
    </div>

<!--多个复选框，绑定到同一个数组-->
    <div>
        <input type="checkbox" value="python" v-model="values" >
        <label>python</label>
        <input type="checkbox" value="java" v-model="values" >
        <label>java</label>
        <input type="checkbox" value="php" v-model="values" >
        <label>php</label>
        <br>
        <span>添加的值：{{values}}</span>
    </div>

<!--单选框，仅选择一个值-->
    <select v-model="selected">
        <option disabled value="" >请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected:{{selected}}</span>


    <p v-html="address">{{address}}</p>
<!--    <img v-bind:src="image">-->
    <div class="container">
        <h1>这是图书管理系统</h1>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <label>图书</label>
            <input type="text" class="form-control" v-model:value="pushbooks.books" placeholder="addbooks" >
            </div>
            <div class="form-group">
                <label>作者</label>
            <input type="text" class="form-control" v-model:value="pushbooks.authors" placeholder="author" >
            </div>
            <div class="form-group">
                <label>价格</label>
            <input type="text" class="form-control" v-model:value="pushbooks.prices" placeholder="price" >
            </div>

            <label>发行时间</label>
            <input type="text" class="form-control" v-model:value="pushbooks.publishtimes" placeholder="pulishtime" >

            <p align="right"><button type="button" class="btn btn-danger" @click="addclicks">添加图书</button></p>

            <p align="right"><button type="button" class="btn btn-danger" @click="deleteclicks">删除图书</button></p>
        </form>

    </div>
    <div class="container">
        <table class="table">
         <tr>
             <th>序号</th>
             <th>图书</th>
             <th>作者</th>
             <th>价格</th>
             <th>发布时间</th>
         </tr>

         <tr v-for="(res,index) in results">
            <td>{{index+1}}</td>
            <td>{{res.books}}</td>
            <td>{{res.authors}}</td>
            <td>{{res.prices}}</td>
            <td>{{res.publishtimes}}</td>
        </tr>
        <h v-for="i in pushbooks">{{i}}</h>
<!--        <h >{{pushbooks.book}}</h>-->

    </table>

    </div>


</div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
   Vue.component('bclick',{
        template: '<button @click="add+=1">加{{add}}</button>',
        data: function(){
            return{
                add:0
            }
        }
   })
   new Vue({
        el:"#app",
        data:{
            clas:"",
            count:0,
            res:"",
            keyword:"",
            gender:"",
            number: 0,
            checked:true,
            values:[],
            selected:'',
            address:"<a href='https://www.baidu.com/'>百度一下</a>",
            "image":"https://www.baidu.com/img/bd_logo1.png",
            books:'',
            autors:'',
            prices:'',
            publishtimes:'',
            results:[
                {"books":"youxi","authors":"lol","prices":"32","publishtimes":"2020"},
                {"books":"lol","authors":"adc","prices":"23","publishtimes":"2019"},


            ],
<!--            注释：新建一个对象双向绑定视图中输入的值，再将其添加到results中-->
            pushbooks:{
                books:"",
                authors:"",
                prices:"",
                publishtimes:"",
            },

        },
        methods:{
            sub: function(value,event){
                alert(123)
                console.log(event.target.value)
                this.count -= value
            },
            addclicks: function(){
                console.log(this.pushbooks)
<!--                注释：JOSN.stringify()转换为字符串，JSON.parse转为vue认识的代码-->
                    pushbook = JSON.parse(JSON.stringify(this.pushbooks))
                this.results.push(pushbook)
            },
            deleteclicks: function(){
                if(this.results){
                    this.results.splice(0,1)
                }
            }
            },
        computed:{
             watch: {
                keyword: function(newvalue,oldvalue){
                    console.log(newvalue);
                    console.log(oldvalue);
                }
        }
        }
   })



</script>